<?xml version="1.0" encoding="UTF-8"?>

<!-- Fichier de configuration du logging -->
<configuration>

    <property name="LOGS_FOLDER" value="C:/AppEnv/log/fls"/>
    <property name="SAVE_FOLDER" value="${LOGS_FOLDER}/collect"/>

    <!-- Log de suivi -->
    <appender name="aplicative-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/fls-suivi.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SAVE_FOLDER}/fls-error.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss:SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <!-- Log d'erreur -->
    <appender name="error-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/fls-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SAVE_FOLDER}/fls-error.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss:SSS} %-5level %logger{36} - %m %throwable{0}%n</pattern>
        </encoder>
    </appender>

    <!-- Log de diagnostic (DEBUG) -->
    <appender name="troubleshooting-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_FOLDER}/fls-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS_FOLDER}/fls-debug.%i.log</fileNamePattern>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss:SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <!-- Console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy/MM/dd HH:mm:ss:SSS} %-5level %logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.sg.fls" level="TRACE">
        <appender-ref ref="aplicative-file"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="debug-file"/>
        <appender-ref ref="error-file"/>
    </root>

</configuration>
