<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/batch
            http://www.springframework.org/schema/batch/spring-batch.xsd">

    <!-- Import des fichiers relatifs aux différents batchs -->
    <import resource="batch/batch-sct-storage.xml"/>

    <!-- Enregistre différentes informations sur les batchs -->
    <batch:job-repository id="jobRepository" isolation-level-for-create="READ_COMMITTED" data-source="dataSource"/>

    <!-- Démarre les batchs -->
    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

</beans>