<!--Fragment pour les alertes-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Bandeau d'alerte -->
<div th:fragment="alert">
    <div id="alert"
         th:class="${responseMessage != null} ? (${responseMessage.success} ? 'alert alert-success fade' : 'alert alert-danger fade') : 'alert fade'">
        <button id="close-alert" type="button" class="close">&times;</button>
        <span id="alert-icon"
              th:class="${responseMessage != null} ? (${responseMessage.success} ? 'fa fa-check' : 'fa fa-warning')">
         </span>
        <span id="alert-message" th:text="${responseMessage != null} ? ${responseMessage.message}"></span>
        <span class="pull-right"><i class="fa fa-refresh"></i></span>
    </div>
</div>

</body>
</html>