<!-- Fragment pour les boutons -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- form -->
<div th:fragment="formButtonsFragment" class="form-actions clear">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i>
        <span th:text="#{btn.valid} "></span>
    </button>
    <button type="reset" class="btn btn-warning">
        <i class="fa fa-eraser"></i>
        <span th:text="#{btn.reset}"></span>
    </button>

    <button type="button" class="btn btn-primary pull-right" onclick="fmk.back()">
        <span th:text="#{btn.back}"></span>
        <i class="fa fa-arrow-right"></i>
    </button>
</div>

<!-- Nouveau detail -->
<div th:fragment="newDetailFragment" class="clear">
    <button type="button" class="btn btn-success" onclick="fmk.detailNew()">
        <i class="fa fa-plus"></i>
        <span th:text="#{btn.new}"></span>
    </button>
</div>

<!-- Nouvelle popup -->
<div th:fragment="newPopupFragment" class="clear">
    <button type="button" class="btn btn-success" onclick="fmk.displayCreatePopup($(this))">
        <i class="fa fa-plus"></i>
        <span th:text="#{btn.new}"></span>
    </button>
</div>

<!-- Popup buttons -->
<div th:fragment="popupButtonsFragment" class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-trash-o"></i>
        <span th:text="#{btn.close}"></span>
    </button>
    <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i>
        <span th:text="#{btn.valid}"></span>
    </button>
</div>

<!-- Search controls -->
<div th:fragment="searchButtonsFragment" class="row text-center">
    <button class="trigger-search btn btn-success" type="button">
        <i class="fa fa-search"></i>
        <span th:text="#{btn.search}"></span>
    </button>
    <button class="reset-search btn btn-warning" type="reset">
        <i class="fa fa-eraser"></i>
        <span th:text="#{btn.reset}"></span>
    </button>
</div>

</body>
</html>