<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">
    <nav class="navbar navbar-fixed-bottom" role="navigation">
        <div class="container">
            <span class="pull-left" th:text="#{app.name}"></span>
            <span class="pull-right"><a id="link" href="mailto:jocelyn.ntakpe@sopragroup.com">
                <i class="fa fa-envelope"></i>&nbsp;<span th:text="#{footer.mail}"></span></a>
            </span>
        </div>
    </nav>
</footer>

</body>
</html>