<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{app.name}"></title>
    <meta charset="UTF-8"/>
    <link th:href="@{/static/css/plugins/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/plugins/fmk-theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/plugins/font-awesome.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/plugins/jquery-dataTables.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/plugins/datatables-bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/fmk.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/app.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/static/js/plugins/jquery-2.0.3.js}"></script>
    <script th:src="@{/static/js/plugins/bootstrap.js}"></script>
    <script th:src="@{/static/js/plugins/jquery.dataTables.js}"></script>
    <script th:src="@{/static/js/plugins/jquery.form.js}"></script>
    <script th:src="@{/static/js/plugins/jquery.validate.js}"></script>
    <script th:src="@{/static/js/plugins/moment.js}"></script>
    <script th:src="@{/static/js/plugins/custom.dataTables.js}"></script>
    <script th:src="@{/static/js/plugins/custom.validate.js}"></script>
    <script th:src="@{/static/js/fmk.js}"></script>
</head>
</html>