<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container">
    <div class="row">
        <h1 th:text="#{error.title}"></h1>

        <div class="col-md-8 col-md-offset-1">
            <h3 th:text="${exception}"></h3>

            <div th:each="line : ${exception.stackTrace}">
                <p th:text="${line}"></p>
            </div>
        </div>
        <br/>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer"></footer>
</body>
</html>